<div class="row">
    <div class="col-sm-12">
        <div class="panel-header">
            <div class="row">
                <div class="col-sm-8">
                    <span class="header-text">{{ customer.name }}</span>

                    <div class="badge badge-info" *ngIf="customer.related_customer_ids?.length >= 1">{{customer.related_customer_ids?.length}}</div>
                </div>
                <div class="col-sm-4 right-align">
                    <button class="btn" (click)="isExpanded = !isExpanded">{{ isExpanded ? "Collapse" : "Expand" }}</button>
                </div>
            </div>
        </div>

        <div *ngIf="isExpanded" class="panel-body">
            <ng-container *ngIf="isEdit;else readOnlyTpl">
                <op-customer-detail-edit [customer]="customer"></op-customer-detail-edit>
            </ng-container>
            
            <ng-template #readOnlyTpl>
                <op-customer-detail-view [customer]="customer"></op-customer-detail-view>
            </ng-template>

            <hr/>

            <!-- TODO: Hide this button while editing, show it when done -->
            <button class="btn right-align" (click)="isEdit = !isEdit">{{ isEdit ? "View" : "Edit" }}</button>

            <op-customer-section *ngFor="let customerId of customer.related_customer_ids" [customer]="findCustomer(customerId)" [isExpanded]="false"></op-customer-section>
        </div>
    </div>
</div>
