<div class="container">
    <h1>
        OnPush Workshop: Customer List ({{customerList.length}})
    </h1>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn" (click)="loadCustomers(100)">Load More...</button>
        </div>
    </div>

    <op-customer-section *ngFor="let customer of customerList; let i = index" [customer]="customer" (customerChange)="onCustomerChange($event, i)">
    </op-customer-section>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn" (click)="loadCustomers(100)">Load More...</button>
        </div>
    </div>
</div>
