<div class="container">
    <h1>
        OnPush Workshop: Customer List
    </h1>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn" (click)="loadCustomers(10)">Load More...</button>
        </div>
    </div>

    <op-customer-section *ngFor="let customer of customerList" [customer]="customer">
    </op-customer-section>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn" (click)="loadCustomers(10)">Load More...</button>
        </div>
    </div>
</div>
