<div class="row">
    <div class="col-md-6">
        <op-column label="Name:">{{ customer.name }}</op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Address 1:">{{ customer.address1 }}</op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Address 2:">{{ customer.address2 }}</op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="City:">{{ customer.city }}</op-column>
    </div>
    <div class="col-md-6">
        <op-column label="State:">{{ customer.state }}</op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Zip:">{{ customer.zip }}</op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Is Active?">{{ customer.is_active }}</op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Type:">{{ getCustomerType(customer.customer_type_id)?.text }}</op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Industry:">{{ customer.industry_id | beFaster }}</op-column>
    </div>
</div>
