<div class="row">
    <div class="col-md-6">
        <op-column label="Name:"><input type="text" [(ngModel)]="customer.name" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Address 1:"><input type="text" [(ngModel)]="customer.address1" /></op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Address 2:"><input type="text" [(ngModel)]="customer.address2" /></op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="City:"><input type="text" [(ngModel)]="customer.city" /></op-column>
    </div>
    <div class="col-md-6">
        <op-column label="State:"><input type="text" [(ngModel)]="customer.state" /></op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Zip:"><input type="text" [(ngModel)]="customer.zip" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Is Active?"><input type="text" [(ngModel)]="customer.is_active" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Type:"><input type="text" [(ngModel)]="customer.customer_type_id" /></op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Industry:"><input type="text" [(ngModel)]="customer.industry_id" /></op-column>
    </div>
</div>
