<div class="row">
    <div class="col-md-6">
        <op-column label="Name:"><input type="text" [(ngModel)]="mutableCustomer.name" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Address 1:"><input type="text" [(ngModel)]="mutableCustomer.address1" /></op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Address 2:"><input type="text" [(ngModel)]="mutableCustomer.address2" /></op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="City:"><input type="text" [(ngModel)]="mutableCustomer.city" /></op-column>
    </div>
    <div class="col-md-6">
        <op-column label="State:"><input type="text" [(ngModel)]="mutableCustomer.state" /></op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Zip:"><input type="text" [(ngModel)]="mutableCustomer.zip" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Is Active?"><input type="text" [(ngModel)]="mutableCustomer.is_active" /></op-column>
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <op-column label="Type:">
            <op-select
                [items]="customerTypeService.getAll() | async"
                [(id)]="mutableCustomer.customer_type_id"
            ></op-select>
        </op-column>
    </div>
    <div class="col-md-6">
        <op-column label="Industry:">
            <op-auto-complete
                [itemService]="industryService"
                [(id)]="mutableCustomer.industry_id"
            ></op-auto-complete>
        </op-column>
    </div>
</div>
<div class="row">
    <div class="col-md-12 float-right">
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
</div>
